<template name="Settings">
  
  <form id="settings" class="card">
    <!-- <h2>Alarm</h2>
    
    <div class="hospital-alarm">
      when frequency of 
      <select name="alarm-frequency">
      <option value="0">no alarm</option>
        <option value="<4">&lt;4</option>
        <option value="4-5" selected>4-5</option>
        <option value="5-6">5-6</option>
        <option value="6-7">6-7</option>
        <option value="7-8">7-8</option>
      </select>
      min
    </div> -->

    <h2>Account</h2>
    <button class="change-password">Change password</button>
    <button class="logout">Logout</button>
    <!-- <button class="delete-account danger">Delete account</button> -->

    <h2>Clean up</h2>
    <button class="clear-ticker danger">Clear ticker data</button>
    <button class="clear-todo-list danger">Clear todo list</button>
    <button class="clear-phone-numbers danger">Clear phone numbers</button>
    
  </form>

</template>
