<template name="Contractions">

  <section class="contractions">
    
    <div class="card ticker">

      <div class="average-frequency {{frequencyWarning tickerAverages.frequency}}">
        <h4>Avg. Frequency</h4>
        <span>{{tickerAverages.frequency}}</span>
      </div>

      <div class="average-duration">
        <h4>Avg. Duration</h4>
        {{tickerAverages.duration}}
      </div>
      
      <div class="button start">
        <div class="ticker-timer">{{currentDuration}}</div>
        <div class="ticker-label">Start</div>
      </div>
      
    </div>


    <div class="card results">
      <h3>Past contractions</h3>

      <ul class="timeframe">
      {{#each timeframes}}
        <li class="{{isSelectedTimeframe this}}">{{this}}</li>
      {{/each}}
      </ul>

      {{#if pastContractions}}
      <table>
        <thead>
          <tr>
            <th>Start</th>
            <th>Duration</th>
            <th>Frequency</th>
          </tr>
        </thead>
        <tbody>
          {{#each pastContractions}}
            {{> Contraction this}}
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <p class="no-data">No data yet</p>
      {{/if}}
    </div>

  </section>

</template>
