<template name="Login">

  <header class="main login">
    <h1><img src="/images/logo.png" alt=""> InLabour</h1>
  </header>

  <main class="login">

    <form id="login" class="login">
      
      <i class="icon-email"></i> <input type="email" placeholder="Your email address" name="email" required>
      <div class="register login">
        <i class="icon-password"></i> <input type="password" placeholder="Your password" required>
      </div>

      <a id="forgot-password" href="#forgot-password">Forgot password?</a>
      <a id="no-account" href="#register">Register</a>
      <a id="back-to-login" href="#login">Sign in</a>

      <button type="submit">Sign in</button>

      
    </form>

    <!-- <div id="login-register">
      <p id="no-account" href="#register">Don't have an account yet? Sign up</p>
      <p id="back-to-login" href="#login">Already have an account? Sign in</p>
    </div> -->

  </main>

</template>
