<template name="ChangePassword">

  <form class="dialog change-password">

    <fieldset>
      <h2>Enter current password</h2>
      <i class="icon-password"></i>
      <input type="password" id="old-password" class="icon" placeholder="Your CURRENT password">

      <h2>Choose new password</h2>
      <i class="icon-password"></i>
      <input type="password" id="new-password" class="icon" placeholder="Your NEW password">

      <i class="icon-password"></i>
      <input type="password" id="new-password-confirm" class="icon" placeholder="Confirm NEW password">
    </fieldset>

    <div class="buttons">
      <button class="ok danger">Change password</button>
      <button class="cancel">Cancel</button>
    </div>
  </form>

</template>
